/* Citation:
* https://freefrontend.com/css-animation-examples/
* https://www.youtube.com/watch?v=t5AE66WgQD0
* https://www.w3schools.com/howto/howto_css_two_columns.asp
*/

/* color that I used;
 * #dee5e9
 * #ff9f55
 * #474e5d
 * whitesmoke
 * black
 * gray
 */

/* 0-0; for all page */
* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: block;
    font-family: "Space Mono", monospace;
    background-color: #474e5d;
    height: 100%;
    overflow-x: hidden;
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}

header {
    background-color: #dee5e9;
    height: 290px;
    width: 100%;
    padding: 4.5vw 0 5vw 0;
    text-align: center;
    transition: filter .5s;
}

/* The side navigation menu */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}
  
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}
  
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s, filter .5s;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
.sidenav {
    padding-top: 15px;
}
.sidenav a {
    font-size: 18px;
}
}

.title {
    margin: 0;
    font-size: 40px;
    font-weight: 700;
}

/* button {
    width: 30%;
    padding: 0.2% 5.9% 0.2% 5.9%;
    font-size: 15px;
    height: 2.2%;
    text-align: center;
    vertical-align: middle;
    background-color: whitesmoke;
    border: 2px solid gray;
    border-radius: 2px;
    text-decoration: none;
    color: black;
    font-family: "Space Mono", monospace;
    transform: perspective(1px) translateZ(0);
    transition-duration: 0.3s;
    transition-property: color, background-color;
    letter-spacing: 0.05em;
    margin-left: auto;
    margin-right: auto;
    min-height: 40px;
}

button:hover {
    background-color: gray;
}

button:active {
    transform: scale(0.99);
} */

/* Toggle button positioning */
.controls {
    position: absolute;
    top: 20px;
    right: 20px;
}

.toggle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid gray;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.toggle:hover {
    background-color: #555;
}

.toggle:hover span {
    color: whitesmoke;
}

.toggle button {
    background: none;
    border: none;
    font-size: 24px;
    line-height: 1;
    cursor: pointer;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    position: relative;
    top: 0px;
    left: 1px;
}

.toggle button span {
    transition: color 0.3s ease-in-out;
}


img {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

@media screen and (max-width: 640px) {
    main {
        margin: 5% 0 -1.5% 0;
    }
    
    button {
        height: 4em;
        margin: auto;
    }
}

@media screen and (min-width: 1080px) {
    main {
        margin-top: 5%;
        padding-top: 5%;
    }
}

/* 1-1; timeline */
.timeline {
    position: relative;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    transition: transform .5s;
    box-sizing: border-box;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: whitesmoke;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    animation: extend linear 6s forwards;
}

@keyframes extend {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
    
}

.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
    animation: dropdown linear 1s forwards;
    opacity: 0;
}

@keyframes dropdown {
    0% {
        transform: translateY(-30px);
        opacity: 1;
    }
    
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: whitesmoke;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.left {
    left: 0;
}

.right {
    left: 50%;
}

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border-style: solid;
    border-image: initial;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent whitesmoke;
}

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid whitesmoke;
    border-width: 10px 10px 10px 0;
    border-color: transparent whitesmoke transparent transparent;
}

.right::after {
    left: -16px;
}

.content {
    padding: 20px 30px;
    background-color: whitesmoke;
    position: relative;
    border-radius: 6px;
}

/* 1-2; multi-display */
@media screen and (max-width: 640px) {
    .timeline::after {
        left: 31px;
    }
    
    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }
    
    .container::before {
        left: 60px;
        border: medium solid whitesmoke;
        border-width: 10px 10px 10px 0;
        border-color: transparent whitesmoke transparent transparent;
    }
    
    .left::after, .right::after {
        left: 15px;
    }
    
    .right {
        left: 0%;
    }
}

/* 2-1; infomation */
.column {
    display: block;
    float: left;
    width: 50%;
    height: 40rem;
    margin: 0 auto;
    padding: 5% 5% 0 5%;
    background-color: whitesmoke;
}

.column:has(table) {
    padding: 0 5% 5% 5%;
}

.column img {
    transform: translateY(60%);
    width: 100%;
    height: auto;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

h3 + p {
    padding-top: 2em;
}

@media screen and (max-width: 640px) {
    .column {
        width: 100%;
        height: auto;
    }
    .column img {
        transform: translateY(0%);
    }
}

@media screen and (min-width: 1080px) {
    .column img {
        transform: translateY(0%);
    }
}

/* 2-2; footer */
footer {
    background-color: whitesmoke;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: block;
    min-height: 300px;
}

h2 {
    text-align: center;
    padding: 5% 5% 0 5%;
}

iframe {
    width: 100%;
}

tr {
    height: 1em;
}

@media screen and (min-width: 1080px) {
    iframe {
        height: 100%;
    }
    
    .contact {
        padding: 3% 16% 0 16%;
        text-align: center;
    }
    
    .contact_left {
        width: 45%;
        float: left;
    }
    
    .contact_right {
        display: inline-block;
    }
}

@media screen and (max-width: 640px) {
    h2 {
        padding: 5% 5% 5% 5%;
    }
    
    footer {
        padding-bottom: 70%;
    }
    
    tr {
        height: auto;
    }
    
    .contact_right {
        padding: 5% 5% 5% 5%;
    }

    button {
        width: 85%;
    }

    header {
        height: 40vh;
    }
}

#mySidenav[style*="width: 0"] ~ #main .timeline,
#mySidenav[style*="width: 250px"] ~ #main .timeline {
    transform: none;
    left: auto;
}

.openbtn {
    position: fixed;
    left: 20px;
    top: 20px;
    font-size: 30px;
    cursor: pointer;
    z-index: 1;
    color: #818181;
    visibility: visible;
}

.openbtn:hover {
    color: #f1f1f1;
}

#mySidenav[style*="width: 250px"] ~ #main {
    width: calc(100% - 250px);
    margin-left: 250px;
}

#mySidenav[style*="width: 0"] ~ #main .timeline,
#mySidenav[style*="width: 250px"] ~ #main .timeline {
    transform: none;
    left: auto;
}

#mySidenav[style*="width: 250px"] ~ header .openbtn {
    display: none;
}

.game-container {
    height: 600px;
    overflow-y: hidauto;
}

.game-screen {
    margin-bottom: 20px;
    overflow: hidden;
}